<!DOCTYPE html>
<table border="0" cellspacing="35" cellpadding="10">
<body bgcolor="#fed2f0">

{% for user in userDetails%}

<br>
    <center>
	<center style="color:#7a0051";>Image
	<br>
	<br>
	<br>
	<br>
	<img src="{{url_for('static',filename='formal wear.png')}}" width="100px" height="100px" alt="{{user[2]}}">
	<img src="{{url_for('static',filename='gowns.jpeg')}}" width="100px" height="100px" alt="{{user[2]}}">
   
    
	<img src="{{url_for('static',filename='soldier dress.png')}}" width="100px" height="100px" alt="{{user[2]}}">
	
	<img src="{{url_for('static',filename='Lehenga dress.png')}}" width="100px" height="100px" alt="{{user[2]}}">
    <table border="0"  align="center" cellspacing="15" cellpadding="8">
	<tr>
	<td ><center><p><a href="#Formal Wear"><font color="#7a0051">Formal Wear</font></a></p></center></td>
	<td><center><p><a href="#Gowns"><font color="#7a0051">Gowns</font></a></p></center></td>
	<td><center><p><a href="#soldier dress"><font color="#7a0051">soldier dress</font></a></p></center></td>
	<td><center><p><a href="#Lehenga dress"><font color="#7a0051">Lehenga dress</font></a></p></center></td>
	</tr>
    
    </table>

      <br>
      <br>
      <center>
    <table border="0" align="center"  cellspacing="15" cellpadding="10">
	<img id="user[2]"  src="{{url_for('static',filename='boy western wear dress.png')}}" style="width:100px;border-radius:50%;" align="center">
	
	
	<img id="user[2]"  src="{{url_for('static',filename='cowgirl dress.jpeg')}}" width="100px" height="100px" cellspacing="3" align="center">
	
	
	
	<img id="user[2]"  src="{{url_for('static',filename='baby dress.png')}}" width="100px" height="100px" align="center">
	
	
	<img id="user[2]"  src="{{url_for('static',filename='traditional wear.png')}}" width="100px" height="100px"  align="center">

	<tr>
	<td><center><p><a href="#boy westernwear dress"><font color="#7a0051">westernwear</font></a></p></center></td>
	<td><center><p><a href="#cowgirl dress"><font color="#7a0051">cowgirl</font></a></p></center></td>
	<td><center><p><a href="#baby dress"><font color="#7a0051">babydress</font></a></p></center></td>	
	<td><center><p><a href="#traditional wear"><font color="#7a0051">traditional</font></a></p></center></td>
	  
	</tr>
	</center>
    </table>
	<br>
	<br>
	
	<img id="user[2]"  src="{{url_for('static',filename='ethnic.png')}}" width="100px" height="100px" cellspacing="5" cellpadding="6">
	
	<img id="user[2]"  src="{{url_for('static',filename='winter.png')}}" width="100px" height="100px" cellspacing="5" cellpadding="6">
	
	<img id="user[2]"  src="{{url_for('static',filename='fashion.png')}}" width="100px" height="100px" cellspacing="5" cellpadding="6">
	
	<img id="user[2]"  src="{{url_for('static',filename='coat.png')}}" width="100px" height="100px"  cellspacing="5"    cellpadding="6">
		<table border="0"  align="center" cellspacing="30" cellpadding="15">
			<tr>
	<td><center><p><a href="#ethnic"><font color="#7a0051">ethnic</font></a></p></center></td>	
	<td><center><p><a href="#winter "><font color="#7a0051">winter</font></a></p></center></td>
	<td><center><p><a href="#fashion "><font color="#7a0051">fashion</font></a></p></center></td>	
	<td><center><p><a href="#coat"><font color="#7a0051">coat</font></a></p></center></td>
	</tr>
		
   </table>
	
	
	
	<br>
	<br>
	<img id="user[2]"  src="{{url_for('static',filename='towels.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='gloves.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='muffler.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='woolen.png')}}" width="100px" height="100px">
	<table border="0"  align="center" cellspacing="30" cellpadding="17">
		
			<tr>
	<td><center><p><a href="#towels "><font color="#7a0051">towels</font></a></p></center></td>
	<td><center><p><a href="#gloves"><font color="#7a0051">gloves</font></a></p></center></td>
	<td><center><p><a href="#muffler "><font color="#7a0051">muffler</font></a></p></center></td>
	<td><center><p><a href="#woolen"><font color="#7a0051">woolen</font></a></p></center></td>
	</tr>
	
	</table>
	
	
	<br>
	<br>
	<img id="user[2]"  src="{{url_for('static',filename='suit.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='semiformal.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='trousers.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='style.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#suit"><font color="#7a0051">suit</font></a></p></center></td></center>
	<td><center><p><a href="#semiformal"><font color="#7a0051">semiformal</font></a></p></center></td>
	<td><center><p><a href="#trousers"><font color="#7a0051">trousers</font></a></p></center></td>
	<td><center><p><a href="#style"><font color="#7a0051">style</font></a></p></center></td>
	</tr>
	<br>
	<br>
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='shrug.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='tops.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='fur coat.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='summer.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#shrug"><font color="#7a0051">shrug</font></a></p></center></td></center>
	<td><center><p><a href="#tops"><font color="#7a0051">tops</font></a></p></center></td>
	<td><center><p><a href="#fur coat"><font color="#7a0051">fur coat</font></a></p></center></td>
	<td><center><p><a href="#summer"><font color="#7a0051">summer</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='table cloth.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='curtain.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='baby cloth.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='baby girl.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#table cloth"><font color="#7a0051">table cloth</font></a></p></center></td></center>
	<td><center><p><a href="#curtain"><font color="#7a0051">curtain</font></a></p></center></td>
	<td><center><p><a href="#baby cloth"><font color="#7a0051">baby cloth</font></a></p></center></td>
	<td><center><p><a href="#baby girl"><font color="#7a0051">baby girl</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='men shirt.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='men fashion.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='men coat.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='men jacket.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#men shirt"><font color="#7a0051">men shirt</font></a></p></center></td></center>
	<td><center><p><a href="#men jacket"><font color="#7a0051">men jacket</font></a></p></center></td>
	<td><center><p><a href="#men coat"><font color="#7a0051">men coat</font></a></p></center></td>
	<td><center><p><a href="#men fashion"><font color="#7a0051">men fashion</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='sports shirt.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='sports.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='track wear.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='socks.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#sports shirt"><font color="#7a0051">sports shirt</font></a></p></center></td></center>
	<td><center><p><a href="#sports"><font color="#7a0051">sports</font></a></p></center></td>
	<td><center><p><a href="#track wear"><font color="#7a0051">track wear</font></a></p></center></td>
	<td><center><p><a href="#socks"><font color="#7a0051">socks</font></a></p></center></td>
	</tr>
	
	</table>
		<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='scarf.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='anarkali.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='kurtiis.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='handkerchief.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#scarf"><font color="#7a0051">scarf</font></a></p></center></td></center>
	<td><center><p><a href="#anarkali"><font color="#7a0051">anarkali</font></a></p></center></td>
	<td><center><p><a href="#kurtiis"><font color="#7a0051">kurtiis</font></a></p></center></td>
	<td><center><p><a href="#handkerchief"><font color="#7a0051">handkerchief</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='jeans.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='skirt.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='longskirt.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='salwar.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#jeans"><font color="#7a0051">jeans</font></a></p></center></td></center>
	<td><center><p><a href="#skirt"><font color="#7a0051">skirt</font></a></p></center></td>
	<td><center><p><a href="#longskirt"><font color="#7a0051">longskirt</font></a></p></center></td>
	<td><center><p><a href="#salwar"><font color="#7a0051">salwar</font></a></p></center></td>
	</tr>
	
	</table>
	
		<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='bedspread.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='pillow.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='sleeves.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='jeggings.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#bedspread"><font color="#7a0051">bedspread</font></a></p></center></td></center>
	<td><center><p><a href="#pillow"><font color="#7a0051">pillow</font></a></p></center></td>
	<td><center><p><a href="#sleeves"><font color="#7a0051">sleeves</font></a></p></center></td>
	<td><center><p><a href="#jeggings"><font color="#7a0051">jeggings</font></a></p></center></td>
	</tr>
	
	</table>
	
	
		<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='heels.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='slippers.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='sports shoes.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='party wear.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#heels"><font color="#7a0051">heels</font></a></p></center></td></center>
	<td><center><p><a href="#slippers"><font color="#7a0051">slippers</font></a></p></center></td>
	<td><center><p><a href="#sports shoes"><font color="#7a0051">sports shoes</font></a></p></center></td>
	<td><center><p><a href="#party wear"><font color="#7a0051">party wear</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='Bracelet.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='headset.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='caps.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='cowboy hat.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#heels"><font color="#7a0051">Bracelet</font></a></p></center></td></center>
	<td><center><p><a href="#slippers"><font color="#7a0051">headset</font></a></p></center></td>
	<td><center><p><a href="#sports shoes"><font color="#7a0051">caps</font></a></p></center></td>
	<td><center><p><a href="#party wear"><font color="#7a0051">cowboy hat</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='frames.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='bottles.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='necklace.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='flowers.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#frames"><font color="#7a0051">frames</font></a></p></center></td></center>
	<td><center><p><a href="#bottles"><font color="#7a0051">bottles</font></a></p></center></td>
	<td><center><p><a href="#necklace"><font color="#7a0051">necklace</font></a></p></center></td>
	<td><center><p><a href="#flowers"><font color="#7a0051">flowers</font></a></p></center></td>
	</tr>
	
	</table>
		<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='violin.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='pens.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='ring.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='choclates.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#violin"><font color="#7a0051">violin</font></a></p></center></td></center>
	<td><center><p><a href="#pens"><font color="#7a0051">pens</font></a></p></center></td>
	<td><center><p><a href="#ring"><font color="#7a0051">ring</font></a></p></center></td>
	<td><center><p><a href="#choclates"><font color="#7a0051">choclates</font></a></p></center></td>
	</tr>
	
	</table>
	
			<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='mobile.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='board games.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='toys.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='barbie doll.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#mobile"><font color="#7a0051">mobile</font></a></p></center></td></center>
	<td><center><p><a href="#board games"><font color="#7a0051">board games</font></a></p></center></td>
	<td><center><p><a href="#toys"><font color="#7a0051">toys</font></a></p></center></td>
	<td><center><p><a href="#barbie doll"><font color="#7a0051">barbie doll</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='tabs.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='earphones.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='gift box.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='speakers.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#tabs"><font color="#7a0051">tabs</font></a></p></center></td></center>
	<td><center><p><a href="#earphones"><font color="#7a0051">earphones</font></a></p></center></td>
	<td><center><p><a href="#gift box"><font color="#7a0051">gift box</font></a></p></center></td>
	<td><center><p><a href="#speakers"><font color="#7a0051">speakers</font></a></p></center></td>
	</tr>
	
	</table>
		<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='dumbles.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='nail remover.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='perfumes.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='nail color.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#dumbles"><font color="#7a0051">dumbles</font></a></p></center></td></center>
	<td><center><p><a href="#nail remover"><font color="#7a0051">nail remover</font></a></p></center></td>
	<td><center><p><a href="#perfumes"><font color="#7a0051">perfumes</font></a></p></center></td>
	<td><center><p><a href="#nail color"><font color="#7a0051">nail color</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='bangles.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='glitters.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='hairbands.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='nose pin.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#bangles"><font color="#7a0051">bangles</font></a></p></center></td></center>
	<td><center><p><a href="#glitters"><font color="#7a0051">glitters</font></a></p></center></td>
	<td><center><p><a href="#hairbands"><font color="#7a0051">hairbands</font></a></p></center></td>
	<td><center><p><a href="#nose pin"><font color="#7a0051">nose pin</font></a></p></center></td>
	</tr>
	
	</table>
	
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='watches.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='eraser.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='sharpner.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='sketchpens.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#watches"><font color="#7a0051">watches</font></a></p></center></td></center>
	<td><center><p><a href="#eraser"><font color="#7a0051">eraser</font></a></p></center></td>
	<td><center><p><a href="#sharpner"><font color="#7a0051">sharpner</font></a></p></center></td>
	<td><center><p><a href="#sketchpens"><font color="#7a0051">sketchpens</font></a></p></center></td>
	</tr>
	
	</table>
	
	
	
	
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='chockers.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='hair clips.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='buddha.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='vase.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#chockers"><font color="#7a0051">chockers</font></a></p></center></td></center>
	<td><center><p><a href="#hair clips"><font color="#7a0051">hair clips</font></a></p></center></td>
	<td><center><p><a href="#buddha"><font color="#7a0051">buddha</font></a></p></center></td>
	<td><center><p><a href="#vase"><font color="#7a0051">vase</font></a></p></center></td>
	</tr>
	
	</table>
	
		<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='paints.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='brushes.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='idols.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='sunglasses.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#paints"><font color="#7a0051">paints</font></a></p></center></td></center>
	<td><center><p><a href="#brushes"><font color="#7a0051">brushes</font></a></p></center></td>
	<td><center><p><a href="#idols"><font color="#7a0051">idols</font></a></p></center></td>
	<td><center><p><a href="#sunglasses"><font color="#7a0051">sunglasses</font></a></p></center></td>
	</tr>
	
	</table>
	
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='tray.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='mug.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='fancybulbs.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='books.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#tray"><font color="#7a0051">tray</font></a></p></center></td></center>
	<td><center><p><a href="#mug"><font color="#7a0051">mug</font></a></p></center></td>
	<td><center><p><a href="#fancybulbs"><font color="#7a0051">fancybulbs</font></a></p></center></td>
	<td><center><p><a href="#books"><font color="#7a0051">books</font></a></p></center></td>
	</tr>
	
	</table>
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
	
	<img id="user[2]"  src="{{url_for('static',filename='boys dress.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='rope.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='cricket.png')}}" width="100px" height="100px">
	<img id="user[2]"  src="{{url_for('static',filename='hockey.png')}}" width="100px" height="100px">
	<table border="0" align="center"   cellspacing="35" cellpadding="12">
		<tr>
	<center><td><center><p><a href="#boys dress"><font color="#7a0051">boys dress</font></a></p></center></td></center>
	<td><center><p><a href="#rope"><font color="#7a0051">rope</font></a></p></center></td>
	<td><center><p><a href="#cricket"><font color="#7a0051">cricket</font></a></p></center></td>
	<td><center><p><a href="#hockey"><font color="#7a0051">hockey</font></a></p></center></td>
	</tr>
	
	</table>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</table>
	</center>

   
<br>
<br>
<br>		
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a name="Formal Wear"></a>
<a name="Gowns"></a>
<a name="soldier dress"></a>
<a name="Lehenga dress"></a>
<a name="cowgirl dress"></a>
<a name="baby dress"></a>
<a name="traditional wear"></a>
<a name="boy westernwear dress"></a>
    <center style="color:#7a0051";>Image</center>
    <br>
    <br>
    <br>
	<center>{{user[0]}}</center>
	<br>
	<br>
	<br>
{% for name  in image_names %}
<img src="{{url_for('static',filename='static/'+name)}}">
{% endfor %}

	<center>
	<img src="{{url_for('static',filename='formal wear.png')}}" width="100px" height="100px" alt="{{user[2]}}"
		
		</center>
	
	<br>
	<br>
	<br>
	<br>
	<center><input type="button" value="Go back!" onclick="history.back()"></center>
	<br>
	<br>
	<br>
	
	<center style="color:#7a0051";>Details</center>
	<br>
	<br>
	<center>{{user[1]}}</center>
	<br>
	<br>
	<br>
	
	
	<br>
	<br>
	<br>
	<br>
	<center style="color:#7a0051";>Video</center>
	<br>
	<br>
	<br>
	<center>
	<video  controls=""  height="300px" width="350px">
    <source src="{{url_for('static',filename='Circle_Cut_x264.mp4')}}" type="video/mp4">
    </video>
	<center>
	<br>
	<br>
	<br>
	<center><input type="button" value="Go back!" onclick="history.back()"></center>
	<br>
	<br>
	
   {% endfor %}
   



</body>
</table>
</html>
