<!DOCTYPE html>
<html>
<head>
<title>ROSA-C</title>
<style>

.roundtable{
 border:3px solid #000000;
 border-radius:10px;
	
}

.roundtable{
	
	 border:3px solid #000000;
     border-radius:10px;
	
	
	
	}
	


</style>
</head>
<h1 style="color:#ff66cc;"><center>ROSA-C </center></h1>
<h1 style="color:#ff66cc;">Create Catalog </h1>
<h1 style="text-align:center"></h1>
<form method="post"  action="/">
<body bgcolor="fff2fa">
<table  style="color:#ff66cc;"  class="roundtable" border="5" WIDTH="50%" CELLPADDING="24" CELLSPACING="25" >
<tr>
<th class="roundtable">PRODUCT NAME </th>
<th class="roundtable">DETAILS</th>
<th class="roundtable">IMAGE</th>
<th class="roundtable">VIDEO</th>
</tr>
<tr>
<td class="roundtable"><input type="text" name="Product_Name"  required  /></td>
<td class="roundtable"><textarea class="form-control" name="Details" rows="5" placeholder="Add a Description"></textarea></td>
<td class="roundtable"><input type="file" name="image"  accept="image/*"/></td>

<td class="roundtable"><input type="file" name="video"/></td>
</tr>
</table>
<br></br>
<div style="text-align:center">
<input type="submit" value="Upload"/>

</div>
</form>
</body>
</html>

