<html>
<head>
<title>Home Page</title>
</head>
<body style="background-color:#fff2fa">
<table border="0" width="50%" bgcolor="#fff2fa">
<br>
<br>
<br>
<br>
<center><img src="{{url_for('static',filename='flexible drive coupling.jpg')}}"  width="10%"></center>
<br>
<center><p><a href="#flexible drive coupling"> Flexible Drive Coupling</a> </p></center>

<br>
<br>
<form>
<center><input type="button" value="Go back!" onclick="history.back()"></center>

</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a name="flexible drive coupling"></a>
<center><p>flexible drive coupling</p></center>
<br>
<br>
<center><h2>Image</h2></center>
<center><img src="{{url_for('static',filename='flexible drive coupling.jpg')}}"  width="20%"></center>
<br>
<br>
<br>
<form>
<center><input type="button" value="Go back!" onclick="history.back()"></center>

</form>
<br>
<br>
<br>
<br>

<center><h2>Details of the Product</h2></center>
<center>
<ul>
<li>
	
Flexible Drive consists of two gear hubs engaging in a sleeve high grade plastic material
</li>
<li>
Couplings are easy to assemble and require no maintenance or lubrication and do not emit transmission noise

</li>
<li>
Gears in the crowned-tooth form permit axial and angular Misalignment

</li>
<li>
Available in non-corrosive options of Stainless Steel and Nylon materials also


</li>



</ul>
</center>
<br>
<center><h2>Video</h2></center>
<br>
<center>
<video  controls=""  height="300px" width="350px">
<source src="{{url_for('static',filename='Circle_Cut_x264.mp4')}}" type="video/mp4">
</video>
</center>
<br>
<br>
<br>
<br>

</body>
</html>
