<html>
<head>

</head>
<body bgcolor="#fff2fa">
<form action="http://127.0.0.1:5000/display" method="post">
<center>
<h1 style="color:#ff66cc;">INTRODUCTION</h1>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table style="color:#ff66cc;"border="2" cellspacing="25" cellpadding="35" align="center" width="20px">
<tr>
<th>Introduction</th>
</tr>
<tr>
<div class="box">
<td><textarea type="text" name="Details"  rows="10" cols="50" placeholder="Please Enter your Data"></textarea></td>
</table>
<br>
<br>
<a href="/display"  method="post">
<center><input name="Edit" type="button" value="Edit" ></center>
</div>
</form>

</body>
</html>
